@import '../../config/variables.scss';

.event-list {
  padding: 20px;

  &__header {
    font-size: 30px;
    padding: 5px 0;
    box-sizing: border-box;
  }

  &__day {
    display: flex;
    justify-content: center;
  }
}
