@import '../../config/variables.scss';

.event-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 50px 50px 50px;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 20px;

  &__inputs {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
  }

  &__field {
    margin: 10px 0;
  }

  &__time {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;

    &_description {
      resize: none;
    }
  }

  &__button-submit {
    align-self: flex-end;
    max-width: 100px;
    padding: 5px 10px;
    font-size: 25px;
    color: white;
    border: none;
    background: $calendar-secondary-color;

    &:hover {
      cursor: pointer;
    }
  }

  &__time-input {
    text-align: center;
    width: 100%;
  }

  @media (max-width: $first-break-point) {
    padding: 10px 25px 25px 25px;
    font-size: 14px;

    &__input {
      font-size: 14px;
      padding: 5px;
    }
  }
}

.dash {
  display: flex;
  font-size: 20px;
  padding: 0 10px;

  @media (max-width: $first-break-point) {
    font-size: 14px;
    padding: 0;
  }
}
