@import '../../config/variables.scss';

.calendar {
  border: 2px solid $calendar-color;

  &__header {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: $calendar-color;
    color: white;
    font-size: 40px;
  }

  &__current-month {
    display: flex;
    flex-basis: 300px;
    justify-content: center;
  }

  &__weekdays {
    display: flex;
  }

  &__weekday {
    display: flex;
    justify-content: center;
    flex: 1 1 calc(100% / 7);
    padding: 15px 0;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
  }

  &__day {
    display: flex;
    justify-content: center;
    flex: 0 0 calc(100% / 7);
    padding: 40px 0;
    box-sizing: border-box;
    border: 2px solid transparent;

    &:hover {
      border: 2px solid $calendar-color;
      cursor: pointer;
    }

    &_other-month {
      background-color: $calendar-other-day-color;

      &:hover {
        border: 2px solid black;
      }
    }
  }
}

.button-month {
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}
