@import '../../config/variables.scss';

.calendar {
  border: 2px solid $calendar-color;

  &__header {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: $calendar-color;
    color: white;
    font-size: 40px;
  }

  &__current-month {
    display: flex;
    flex-basis: 300px;
    justify-content: center;
  }

  &__weekdays {
    display: flex;
  }

  &__weekday {
    display: flex;
    justify-content: center;
    flex: 1 1 calc(100% / 7);
    padding: 15px 0;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
  }
}

.button-month {
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}
