@import '../../config/variables.scss';

.member-list {
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
  }

  &__input {
    flex: 1 1 auto;
    padding: 10px;
    box-sizing: border-box;
  }

  &__button-add {
    flex-basis: 50px;
    padding: 0 10px;
    font-size: 35px;
    border: none;
    color: white;
    background: $calendar-secondary-color;

    &:hover {
      cursor: pointer;
    }
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 75px;
    box-sizing: border-box;
    overflow: auto;
  }

  &__member {
    background-color: $calendar-secondary-color;
    color: white;
    margin-right: 5px;
    padding: 0 5px;
  }
}
