@import '../../config/variables.scss';

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 50vw;
    height: 400px;
    max-height: 100%;
    border: 5px solid $calendar-secondary-color;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
  }
}
