@import '../../config/variables.scss';

.calendar__day {
  display: flex;
  justify-content: center;
  flex: 0 0 calc(100% / 7);
  padding: 40px 0;
  box-sizing: border-box;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid $calendar-color;
    cursor: pointer;
  }

  &_other-month {
    background-color: $calendar-other-day-color;

    &:hover {
      border: 2px solid black;
    }
  }

  &_today {
    border: 2px solid $calendar-today-color;
  }
}
