@import '../../config/variables.scss';

.day-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  border-bottom: 1px solid $calendar-color;

  &__title {
    flex-basis: calc(100% / 1.5);
  }

  &__panel {
    display: flex;
    flex-direction: column;
  }
}
