@import '../../config/variables.scss';

.day-event {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px solid $calendar-secondary-color;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

  &_active {
    background-color: $calendar-secondary-color;
    color: white;
  }

  &:hover {
    background-color: $calendar-secondary-color;
    color: white;
    cursor: pointer;
  }

  &__title {
    flex-basis: calc(100% / 1.5);
  }

  &__panel {
    display: flex;
    flex-direction: column;
  }

  &__button-delete,
  &__button-update {
    background-color: $calendar-secondary-color;
    color: white;
    font-size: 16px;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
  }

  &__info {
    font-size: 25px;
  }

  &__members {
    display: flex;
  }
}
